.result-card-style{
    background-color: #4285F4;
    color: white;
    padding: 25px;
    border-radius: 25px;
}

.card-horizontal {
    display: flex;
}

.book-title {
    float: left;

}

.image {
    position: absolute;
    padding: 0; 
    overflow: hidden; 
    height: 200px;
}

.description {
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.btn-group {
    float: right !important;
}